In [1]:
import pandas as pd

data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)

df['City'] = ['Bangalore', 'Chennai']
print(df)

    Name  Age       City
0  Alice   25  Bangalore
1    Bob   30    Chennai

In [9]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})

print(df.head())
print(df.tail())
print(df.describe())
print(df.info())

   A  B
0  1  5
1  2  6
2  3  7
3  4  8
   A  B
0  1  5
1  2  6
2  3  7
3  4  8
              A         B
count  4.000000  4.000000
mean   2.500000  6.500000
std    1.290994  1.290994
min    1.000000  5.000000
25%    1.750000  5.750000
50%    2.500000  6.500000
75%    3.250000  7.250000
max    4.000000  8.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
dtypes: int64(2)
memory usage: 196.0 bytes
None

In [3]:
import pandas as pd

# Create the sample CSV file if it doesn't exist
sample_csv_data = """Name,Age,City
Alice,25,Bangalore
Bob,30,Chennai"""
with open('sample.csv', 'w') as f:
	f.write(sample_csv_data)

# Read the CSV file
df = pd.read_csv('sample.csv')
df = df.dropna()
print(df.head())
print(df.describe())
print(df.info())

    Name  Age       City
0  Alice   25  Bangalore
1    Bob   30    Chennai
             Age
count   2.000000
mean   27.500000
std     3.535534
min    25.000000
25%    26.250000
50%    27.500000
75%    28.750000
max    30.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
 2   City    2 non-null      object
dtypes: int64(1), object(2)
memory usage: 180.0+ bytes
None

In [4]:
import pandas as pd

df = pd.DataFrame({'A': [1, None, 3], 'B': [4, 5, None]})

df_filled = df.fillna(0)
df_dropped = df.dropna()

print(df_filled)
print(df_dropped)

     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0
     A    B
0  1.0  4.0

In [5]:
import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})

print(df.loc[0, 'Name'])
print(df.iloc[1, 1])

Alice
30

In [6]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 2], 'City': ['Bangalore', 'Chennai']})

result = pd.merge(df1, df2, on='ID', how='inner')
print(result)

   ID   Name       City
0   1  Alice  Bangalore
1   2    Bob    Chennai

In [10]:
# Install the required module
%pip install openpyxl

import pandas as pd

# Create and save sample CSV and Excel files
sample_csv_data = "Name,Age,City\nAlice,25,Bangalore\nBob,30,Chennai"
with open('sample.csv', 'w') as f:
	f.write(sample_csv_data)

pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30], 'City': ['Bangalore', 'Chennai']}).to_excel('sample.xlsx', index=False)

# Read the files
df_csv = pd.read_csv('sample.csv')
df_excel = pd.read_excel('sample.xlsx')

print(df_csv.head())
print(df_excel.head())

Requirement already satisfied: openpyxl in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.
    Name  Age       City
0  Alice   25  Bangalore
1    Bob   30    Chennai
    Name  Age       City
0  Alice   25  Bangalore
1    Bob   30    Chennai

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd

s = pd.Series(['Apple', 'Banana', 'apple', 'Banana', 'Cherry'])

lowercase = s.str.lower()
counts = lowercase.value_counts()

print(lowercase)
print(counts)

0     apple
1    banana
2     apple
3    banana
4    cherry
dtype: object
apple     2
banana    2
cherry    1
Name: count, dtype: int64